<form action="" method="POST">
    <table>
        <tr>
            <td>To: </td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Cc:</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Bcc:</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td>
                Priority
                <select name="" id="">
                    <option value="High">High</option>
                    <option value="Normal">Normal</option>
                    <option value="Low">Low</option>
                </select>
                Receipt: <input type="checkbox" name="" id="">
                On Read <input type="checkbox" name="" id="">
                On Delivery
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="Signature">
                <input type="button" value="Addresses">
                <input type="button" value="Save Draft">
                <input type="button" value="Send">
                <input type="button" value="Check Spelling">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><textarea name="" id="" cols="76" rows="20"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Send"></td>
        </tr>
        <tr>
            <td></td>
            <td>Attach: <input type="file" name="" id=""> <input type="button" value="Add"> (max. 2 M)</td>
        </tr>
    </table>
</form>