<center>
    <br>
    <br>
    <table bgcolor="#dcdcdc" align="center" width="95%" cellpadding="1" cellspacing="0" border="0" class="options">
            <tbody><tr>
            <td align="center">
            <b>Folders</b><table align="center" width="100%" cellpadding="5" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ffffff" align="center">
            
            <br><table align="center" width="70%" cellpadding="4" cellspacing="0" border="0">
            <tbody><tr><td bgcolor="#ababab" align="center"><b>Create Folder</b></td>
            </tr>
            <tr>
            <td bgcolor="#dcdcdc" align="center">
            <form action="folders_create.php" method="POST" name="cf">
            <input type="hidden" value="G01K9ObAwunm" name="smtoken">
            <input type="text" name="folder_name" value="" size="25">
            <br>
            as a subfolder of<br><tt><select name="subfolder">
            <option selected="selected" value="">[ None ]</option>
            <option value="INBOX">INBOX</option>
            <option value="Borradores">Borradores</option>
            <option value="Enviados">Enviados</option>
            <option value="Papelera">Papelera</option>
            </select></tt>
            <br><input type="checkbox" name="contain_subs" value="1">
             &nbsp;Let this folder contain subfolders<br><input type="submit" value="Create">
            </form></td></tr>
            <tr><td bgcolor="#ffffff" align="left">&nbsp;</td>
            </tr>
            
            <tr><td bgcolor="#ababab" align="center"><b>Rename a Folder</b></td>
            </tr>
            <tr>
            <td bgcolor="#dcdcdc" align="center">
            No folders found<br><br></td></tr><tr><td bgcolor="#ffffff" align="left">&nbsp;</td>
            </tr>
            
            <tr><td bgcolor="#ababab" align="center"><b>Delete Folder</b></td>
            </tr>
            <tr>
            <td bgcolor="#dcdcdc" align="center">
            No folders found<br><br></td></tr><tr><td bgcolor="#ffffff" align="left">&nbsp;</td>
            </tr>
            </tbody></table>
            <table align="center" width="70%" cellpadding="4" cellspacing="0" border="0">
            <tbody><tr><td bgcolor="#ababab" align="center" colspan="2"><b>Unsubscribe/Subscribe</b></td>
            </tr>
            <tr>
            <td bgcolor="#dcdcdc" align="center" width="50%">
            No folders were found to unsubscribe from!</td><td bgcolor="#dcdcdc" align="center" width="50%">
            No folders were found to subscribe to!</td></tr></tbody></table>
            <br><br>
                </td></tr>
                </tbody></table>
            </td></tr>
            </tbody></table>

</center>