<center>
    <br><br>
    <table bgcolor="#ababab" align="center" width="95%" border="0" cellpadding="1" cellspacing="0">
            <tbody><tr>
            <td align="left"><center><b>Options - Message Highlighting</b></center></td>
            </tr>
            </tbody></table>
            <br>
            <br>
            <table width="100%" border="0" cellpadding="1" cellspacing="0">
                    <tbody><tr>
                    
                    <td align="left">
                    <center>[<a href="options_highlight.php?action=add">New</a>] - [<a href="options.php">Done</a>]</center><br>
                    <center>No highlighting is defined</center><br>
                    <br>
                    </td></tr></tbody></table>
</center>