<center>
    <br>
    <table bgcolor="#dcdcdc" align="center" width="95%" cellpadding="1" cellspacing="0" border="0" class="options">

            <tbody><tr>
            
            <td align="center">
            <b>Options</b><br>
            <table width="100%" cellpadding="5" cellspacing="0" border="0">
            
            <tbody><tr>
            
            <td bgcolor="#ffffff" align="center">
            
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            
            <tbody><tr>
            
            <td align="left" valign="top">
            <table bgcolor="#ffffff" width="100%" cellpadding="3" cellspacing="0" border="0">
            
            <tbody><tr>
            
            <td align="left">
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            <tbody><tr>
            <td align="left" valign="top">
            <table width="100%" cellpadding="2" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="javascript:load('component/personal.html')">Personal Information</a></td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="javascript:load('component/pref.html')">Display Preferences</a></td>
            </tr>
            
            <tr>
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">This contains personal information about yourself such as your name, your email address, etc.</td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">You can change the way that SquirrelMail looks and displays information to you, such as the colors, the language, and other settings.</td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            </tbody></table>
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            <tbody><tr>
            <td align="left" valign="top">
            <table width="100%" cellpadding="2" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="javascript:load('component/mess.html')">Message Highlighting</a></td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="javascript:load('component/folderPref.html')">Folder Preferences</a></td>
            </tr>
            
            <tr>
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">Based upon given criteria, incoming messages can have different background colors in the message list. This helps to easily distinguish who the messages are from, especially for mailing lists.</td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">These settings change the way your folders are displayed and manipulated.</td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            </tbody></table>
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            <tbody><tr>
            <td align="left" valign="top">
            <table width="100%" cellpadding="2" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="javascript:load('component/order.html')">Index Order</a></td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="../plugins/mail_fetch/options.php">POP3 Fetch Mail</a></td>
            </tr>
            
            <tr>
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">The order of the message index can be rearranged and changed to contain the headers in any order you want.</td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">This configures settings for downloading email from a POP3 mailbox to your account on this server.</td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            </tbody></table>
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            <tbody><tr>
            <td align="left" valign="top">
            <table width="100%" cellpadding="2" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="../plugins/translate/options.php">Translation Options</a></td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="../plugins/squirrelspell/sqspell_options.php">SpellChecker Options</a></td>
            </tr>
            
            <tr>
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">Which translator should be used when you get messages in a different language?</td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">Here you may set up how your personal dictionary is stored, edit it, or choose which languages should be available to you when spell-checking.</td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            </tbody></table>
            <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="5" border="0">
            <tbody><tr>
            <td align="left" valign="top">
            <table width="100%" cellpadding="2" cellspacing="0" border="0">
            <tbody><tr>
            <td bgcolor="#ababab" align="left" valign="top" width="49%"><a href="../plugins/newmail/newmail_opt.php">NewMail Options</a></td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ffffff" align="left" valign="top" width="49%">&nbsp;</td>
            </tr>
            
            <tr>
            <td bgcolor="#dcdcdc" align="left" valign="top" width="49%">This configures settings for playing sounds and/or showing popup windows when new mail arrives.</td>
            <td bgcolor="#ffffff" align="left" valign="top" width="2%">&nbsp;</td>
            
            <td bgcolor="#ffffff" align="left" valign="top" width="49%">&nbsp;</td>
            </tr>
            </tbody></table>
            </td>
            </tr>
            </tbody></table>
            </td></tr></tbody></table></td></tr></tbody></table>
            </td></tr>
            </tbody></table>
            </td></tr>
            </tbody></table>

</center>