<center>
    <br>
    <br>
    <table class="options" align="center" width="95%" border="0" cellpadding="1" cellspacing="0">
            <tbody><tr>
            <td bgcolor="#dcdcdc" align="center">
            <b>Options - Index Order</b><table width="100%" border="0" cellpadding="8" cellspacing="0">
            <tbody><tr>
            <td bgcolor="#ffffff" align="center">
            <table><tbody><tr><td>The index order is the order that the columns are arranged in the message index. You can add, remove, and move columns around to customize them to fit your needs.</td>
            </tr>
            </tbody></table>
            <br>
            <table cellspacing="0" cellpadding="0" border="0">
            
            <tbody><tr>
            <td><small><a href="options_order.php?method=up&amp;num=1">up</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td><small><a href="options_order.php?method=down&amp;num=1">down</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td>
            <small><a href="options_order.php?method=remove&amp;num=1&amp;smtoken=cbIuuoLFN5zb">remove</a></small></td><td><small>&nbsp;-&nbsp;</small></td>
            <td>Checkbox</td>
            </tr>
            <tr>
            <td><small><a href="options_order.php?method=up&amp;num=2">up</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td><small><a href="options_order.php?method=down&amp;num=2">down</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td>
            <small><a href="options_order.php?method=remove&amp;num=2&amp;smtoken=UuRBcx4S3Qkd">remove</a></small></td><td><small>&nbsp;-&nbsp;</small></td>
            <td>From</td>
            </tr>
            <tr>
            <td><small><a href="options_order.php?method=up&amp;num=3">up</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td><small><a href="options_order.php?method=down&amp;num=3">down</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td>
            <small><a href="options_order.php?method=remove&amp;num=3&amp;smtoken=NAfzOtRyia4k">remove</a></small></td><td><small>&nbsp;-&nbsp;</small></td>
            <td>Date</td>
            </tr>
            <tr>
            <td><small><a href="options_order.php?method=up&amp;num=4">up</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td><small><a href="options_order.php?method=down&amp;num=4">down</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td>
            <small><a href="options_order.php?method=remove&amp;num=4&amp;smtoken=MOPOWXdQeeiN">remove</a></small></td><td><small>&nbsp;-&nbsp;</small></td>
            <td>Flags</td>
            </tr>
            <tr>
            <td><small><a href="options_order.php?method=up&amp;num=5">up</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td><small><a href="options_order.php?method=down&amp;num=5">down</a></small></td>
            <td><small>&nbsp;|&nbsp;</small></td>
            <td>
            &nbsp;</td><td><small>&nbsp;-&nbsp;</small></td>
            <td>Subject</td>
            </tr>
            </tbody></table>
            <form name="f" method="post" action="options_order.php">
            <input type="hidden" name="smtoken" value="SomEnQYHcitP">
            <select name="add">
            <option value="6">Size</option></select><input type="hidden" value="add" name="method"><input type="submit" value="Add" name="submit"></form><p><a href="../src/options.php">Return to options page</a></p><br><p></p>
                </td></tr>
                </tbody></table>
            
            </td></tr>
            </tbody></table>
</center>