<center>
    <br><br>
    <table class="options" bgcolor="#dcdcdc" align="center" width="95%" cellpadding="1" cellspacing="0" border="0">

            <tbody><tr>
            
            <td align="center">
            <b>Options - Display Preferences</b><br>
            <table width="100%" cellpadding="5" cellspacing="0" border="0">
            
            <tbody><tr>
            
            <td bgcolor="#ffffff" align="center">
            
            <form action="options.php" method="POST" name="f">
            <input type="hidden" value="svRfSoF4Ye6m" name="smtoken">
            <input type="hidden" name="optpage" value="display"><input type="hidden" name="optmode" value="submit"><table width="100%" cellpadding="2" cellspacing="0" border="0">
            
            <tbody><tr>
            
            <td align="left">
            
            </td></tr><tr>
            <td align="center" valign="middle" colspan="2" nowrap=""><b>General Display Options</b></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Theme:</td>
            <td align="left"><select name="new_chosen_theme">
            <option value="../themes/alien_glow.php">Alien Glow</option>
            <option value="../themes/black_bean_burrito_theme.php">Black Bean Burrito</option>
            <option value="../themes/blue_grey_theme.php">Blue Grey</option>
            <option value="../themes/bluesteel_theme.php">Blue Steel</option>
            <option value="../themes/bluesnews_theme.php">BluesNews</option>
            <option value="../themes/dark_green.php">Dark Green</option>
            <option value="../themes/dark_grey_theme.php">Dark Grey</option>
            <option value="../themes/darkness.php">Darkness (Changes)</option>
            <option value="../themes/deepocean_theme.php">Deep Ocean</option>
            <option value="../themes/deepocean2_theme.php">Deep Ocean 2</option>
            <option value="../themes/default_theme.php" selected="selected">Default</option>
            <option value="../themes/dompie_theme.php">Dompie</option>
            <option value="../themes/forest_theme.php">Forest</option>
            <option value="../themes/greenhouse_effect.php">Greenhouse Effect (Changes)</option>
            <option value="../themes/high_contrast_theme.php">High Contrast</option>
            <option value="../themes/christmas.php">Holiday - Christmas</option>
            <option value="../themes/ice_theme.php">Ice</option>
            <option value="../themes/in_the_pink.php">In The Pink (Changes)</option>
            <option value="../themes/kind_of_blue.php">Kind of Blue (Changes)</option>
            <option value="../themes/maize_theme.php">Maize</option>
            <option value="../themes/methodical_theme.php">Methodical</option>
            <option value="../themes/midnight.php">Midnight</option>
            <option value="../themes/monostochastic.php">Monostochastic (Changes)</option>
            <option value="../themes/penguin.php">Penguin</option>
            <option value="../themes/plain_blue_theme.php">Plain Blue</option>
            <option value="../themes/purple_theme.php">Purple</option>
            <option value="../themes/random.php">Random (Changes every login)</option>
            <option value="../themes/sandstorm_theme.php">Sand Storm</option>
            <option value="../themes/seaspray_theme.php">Sea Spray</option>
            <option value="../themes/servery_theme.php">Servery</option>
            <option value="../themes/shades_of_grey.php">Shades of Grey (Changes)</option>
            <option value="../themes/slashdot_theme.php">Slashdot</option>
            <option value="../themes/spice_of_life.php">Spice of Life (Changes)</option>
            <option value="../themes/spice_of_life_dark.php">Spice of Life - Dark (Changes)</option>
            <option value="../themes/spice_of_life_lite.php">Spice of Life - Lite (Changes)</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Custom Stylesheet:</td>
            <td align="left"><select name="new_custom_css">
            <option value="none" selected="selected">Default</option>
            <option value="comic-sans-10.css">comic-sans-10</option>
            <option value="comic-sans-08.css">comic-sans-08</option>
            <option value="comic-sans-12.css">comic-sans-12</option>
            <option value="sans-08.css">sans-08</option>
            <option value="sans-12.css">sans-12</option>
            <option value="sans-10.css">sans-10</option>
            <option value="serif-10.css">serif-10</option>
            <option value="serif-12.css">serif-12</option>
            <option value="tahoma-10.css">tahoma-10</option>
            <option value="tahoma-08.css">tahoma-08</option>
            <option value="tahoma-12.css">tahoma-12</option>
            <option value="verdana-08.css">verdana-08</option>
            <option value="verdana-10.css">verdana-10</option>
            <option value="verdana-12.css">verdana-12</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Language:</td>
            <td align="left"><select name="new_language">
            <option value="">Default</option>
            <option value="ar">Arabic</option>
            <option value="id_ID">Bahasa Indonesia</option>
            <option value="ms_MY">Bahasa Melayu</option>
            <option value="eu_ES">Basque</option>
            <option value="bn_BD">Bengali (Bangladesh)</option>
            <option value="bn_IN">Bengali (India)</option>
            <option value="bg_BG">Bulgarian</option>
            <option value="ca_ES">Catalan</option>
            <option value="zh_CN">Chinese Simp</option>
            <option value="zh_TW">Chinese Trad</option>
            <option value="hr_HR">Croatian</option>
            <option value="cs_CZ">Czech</option>
            <option value="da_DK">Danish</option>
            <option value="nl_NL">Dutch</option>
            <option value="en_US" selected="selected">English</option>
            <option value="et_EE">Estonian</option>
            <option value="fo_FO">Faroese</option>
            <option value="fi_FI">Finnish</option>
            <option value="fr_FR">French</option>
            <option value="fy">Frisian</option>
            <option value="ka">Georgian</option>
            <option value="de_DE">German</option>
            <option value="el_GR">Greek</option>
            <option value="he_IL">Hebrew</option>
            <option value="hu_HU">Hungarian</option>
            <option value="is_IS">Icelandic</option>
            <option value="it_IT">Italian</option>
            <option value="ja_JP">Japanese</option>
            <option value="km">Khmer</option>
            <option value="ko_KR">Korean</option>
            <option value="lv_LV">Latvian</option>
            <option value="lt_LT">Lithuanian</option>
            <option value="mk">Macedonian</option>
            <option value="nb_NO">Norwegian (Bokmål)</option>
            <option value="nn_NO">Norwegian (Nynorsk)</option>
            <option value="fa_IR">Persian</option>
            <option value="pl_PL">Polish</option>
            <option value="pt_BR">Portuguese (Brazil)</option>
            <option value="pt_PT">Portuguese (Portugal)</option>
            <option value="ro_RO">Romanian</option>
            <option value="ru_RU">Russian</option>
            <option value="sr_YU">Serbian</option>
            <option value="sk_SK">Slovak</option>
            <option value="sl_SI">Slovenian</option>
            <option value="es_ES">Spanish</option>
            <option value="sv_SE">Swedish</option>
            <option value="ta_LK">Tamil</option>
            <option value="tr_TR">Turkish</option>
            <option value="ug">Uighur</option>
            <option value="uk_UA">Ukrainian</option>
            <option value="vi_VN">Vietnamese</option>
            <option value="cy_GB">Welsh</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Use Javascript:</td>
            <td align="left"><select name="new_javascript_setting">
            <option value="2" selected="selected">Autodetect</option>
            <option value="1">Always</option>
            <option value="0">Never</option>
            </select>
            </td>
            </tr>
            
            <tr><td align="left" colspan="2">&nbsp;<input type="hidden" name="new_js_autodetect_results" value="1"></td>
            </tr>
            
            <tr>
            <td align="center" valign="middle" colspan="2" nowrap=""><b>Mailbox Display Options</b></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Number of Messages per Page:</td>
            <td align="left"><input type="text" name="new_show_num" value="15" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_alt_index_colors">Enable Alternating Row Colors</label>:</td>
            <td align="left"><input type="checkbox" name="new_alt_index_colors" id="new_alt_index_colors" value="1" checked="checked">&nbsp;<label for="new_alt_index_colors"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_page_selector">Enable Page Selector</label>:</td>
            <td align="left"><input type="checkbox" name="new_page_selector" id="new_page_selector" value="1" checked="checked">&nbsp;<label for="new_page_selector"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Maximum Number of Pages to Show:</td>
            <td align="left"><input type="text" name="new_page_selector_max" value="10" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_show_full_date">Always Show Full Date</label>:</td>
            <td align="left"><input type="checkbox" name="new_show_full_date" id="new_show_full_date" value="1">&nbsp;<label for="new_show_full_date"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Length of From/To Field (0 for full):</td>
            <td align="left"><input type="text" name="new_truncate_sender" value="50" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Length of Subject Field (0 for full):</td>
            <td align="left"><input type="text" name="new_truncate_subject" value="50" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr><td align="left" colspan="2">&nbsp;</td>
            </tr>
            
            <tr>
            <td align="center" valign="middle" colspan="2" nowrap=""><b>Message Display and Composition</b></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Wrap Incoming Text At:</td>
            <td align="left"><input type="text" name="new_wrap_at" value="86" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Width of Editor Window:</td>
            <td align="left"><input type="text" name="new_editor_size" value="76" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Height of Editor Window:</td>
            <td align="left"><input type="text" name="new_editor_height" value="20" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Location of Buttons when Composing:</td>
            <td align="left"><select name="new_location_of_buttons">
            <option value="top">Before headers</option>
            <option value="between" selected="selected">Between headers and message body</option>
            <option value="bottom">After message body</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Address Book Display Format:</td>
            <td align="left"><select name="new_use_javascript_addr_book">
            <option value="1">Javascript</option>
            <option value="0" selected="selected">HTML</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Format of Addresses Added From Address Book:</td>
            <td align="left"><select name="new_addrsrch_fullname">
            <option value="noprefix">No prefix/Address only</option>
            <option value="nickname">Nickname and address</option>
            <option value="fullname" selected="selected">Full name and address</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_show_html_default">Show HTML Version by Default</label>:</td>
            <td align="left"><input type="checkbox" name="new_show_html_default" id="new_show_html_default" value="1">&nbsp;<label for="new_show_html_default"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_enable_forward_as_attachment">Enable Forward as Attachment</label>:</td>
            <td align="left"><input type="checkbox" name="new_enable_forward_as_attachment" id="new_enable_forward_as_attachment" value="1" checked="checked">&nbsp;<label for="new_enable_forward_as_attachment"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_include_self_reply_all">Include Me in CC when I Reply All</label>:</td>
            <td align="left"><input type="checkbox" name="new_include_self_reply_all" id="new_include_self_reply_all" value="1" checked="checked">&nbsp;<label for="new_include_self_reply_all"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_show_xmailer_default">Enable Mailer Display</label>:</td>
            <td align="left"><input type="checkbox" name="new_show_xmailer_default" id="new_show_xmailer_default" value="1">&nbsp;<label for="new_show_xmailer_default"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_attachment_common_show_images">Display Attached Images with Message</label>:</td>
            <td align="left"><input type="checkbox" name="new_attachment_common_show_images" id="new_attachment_common_show_images" value="1">&nbsp;<label for="new_attachment_common_show_images"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_pf_cleandisplay">Enable Printer Friendly Clean Display</label>:</td>
            <td align="left"><input type="checkbox" name="new_pf_cleandisplay" id="new_pf_cleandisplay" value="1">&nbsp;<label for="new_pf_cleandisplay"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_mdn_user_support">Enable Mail Delivery Notification</label>:</td>
            <td align="left"><input type="checkbox" name="new_mdn_user_support" id="new_mdn_user_support" value="1" checked="checked">&nbsp;<label for="new_mdn_user_support"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_compose_new_win">Compose Messages in New Window</label>:</td>
            <td align="left"><input type="checkbox" name="new_compose_new_win" id="new_compose_new_win" value="1">&nbsp;<label for="new_compose_new_win"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Width of Compose Window:</td>
            <td align="left"><input type="text" name="new_compose_width" value="640" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Height of Compose Window:</td>
            <td align="left"><input type="text" name="new_compose_height" value="550" size="5" onchange="origVal=this.value; newVal=''; for (i=0;i<origVal.length;i++) { if (origVal.charAt(i)>='0' &amp;&amp; origVal.charAt(i)<='9') newVal += origVal.charAt(i); } this.value=newVal;"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_sig_first">Prepend Signature before Reply/Forward Text</label>:</td>
            <td align="left"><input type="checkbox" name="new_sig_first" id="new_sig_first" value="1">&nbsp;<label for="new_sig_first"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_strip_sigs">Strip signature when replying</label>:</td>
            <td align="left"><input type="checkbox" name="new_strip_sigs" id="new_strip_sigs" value="1">&nbsp;<label for="new_strip_sigs"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Prefix for Original Message when Replying:</td>
            <td align="left"><input type="text" name="new_body_quote" value=">" size="5"> 
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle">Cursor Position when Replying:</td>
            <td align="left"><select name="new_reply_focus">
            <option value="" selected="selected">To: field</option>
            <option value="focus">Focus in body</option>
            <option value="select">Select body</option>
            <option value="none">No focus</option>
            </select>
            </td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_internal_date_sort">Sort by Received Date</label>:</td>
            <td align="left"><input type="checkbox" name="new_internal_date_sort" id="new_internal_date_sort" value="1" checked="checked">&nbsp;<label for="new_internal_date_sort"></label></td>
            </tr>
            
            <tr>
            <td align="right" valign="middle"><label for="new_sort_by_ref">Enable Thread Sort by References Header</label>:</td>
            <td align="left"><input type="checkbox" name="new_sort_by_ref" id="new_sort_by_ref" value="1" checked="checked">&nbsp;<label for="new_sort_by_ref"></label></td>
            </tr>
            
            <tr><td align="left" colspan="2">&nbsp;</td>
            </tr>
            
            <tr><td align="right" valign="top">Delete/Unread/Move/Next Buttons:</td>
            
            <td><input type="checkbox" name="delete_move_next_ti" id="delete_move_next_ti"><label for="delete_move_next_ti"> Display at top</label> <input type="checkbox" name="delete_move_next_formATtopi" id="delete_move_next_formATtopi"><label for="delete_move_next_formATtopi"> with move option</label><br><input type="checkbox" name="delete_move_next_bi" id="delete_move_next_bi" checked="checked"><label for="delete_move_next_bi"> Display at bottom</label> <input type="checkbox" name="delete_move_next_formATbottomi" id="delete_move_next_formATbottomi" checked="checked"><label for="delete_move_next_formATbottomi"> with move option</label><br><input type="checkbox" name="delete_move_next_show_unread" id="delete_move_next_show_unread" checked="checked"><label for="delete_move_next_show_unread"> Show unread options</label></td></tr>
            <tr><td align="right" colspan="2"><input type="submit" value="Submit" name="submit_display">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            
            </tbody></table></form></td></tr>
            </tbody></table>
            </td></tr>
            </tbody></table>
</center>