* {
    margin: 0;
    padding: 0;
}

.side-bar {
    height: 100vh;
    background: #A1B8C8;
    width: 10%;
    min-width: 100px;
    left: 0;
    position: absolute;
    border-right: 4px solid #D0D0D0;
    outline: 1px solid #000;
}

.side-bar-top {
    padding-top: 10px;
    padding-left: 10px;
}

.side-bar-bottom {
    margin-top: 10px;
}

.right {
    height: 100vh;
    position: relative;
    float: right;
    width: 89%;
    /* background: rgba(0,0,0,0.2); */
}

.side-bar-bottom > ul{
    padding-left: 10px;
}

.side-bar-bottom > ul > li > a{
    color: #831001;
    text-decoration: none;
    font-weight: bold;
}

.top-bar {
    width: 100%;
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-left {
    /* background: #eee; */
    float: left;
}
.menu-right {
    /* background: #333; */
    float: right;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}


#content {
    /* background: rgba(0,0,0,0.2); */
    width: 100%;
}

input{
    padding: 1px 6px;
}

.options{
    border:1px #dcdcdc solid;
}